@import 'tailwindcss';

@theme {
  --color-mono-black: #000000;
  --color-mono-gray-dark: #404040;
  --color-mono-gray: #808080;
  --color-mono-gray-light: #d0d0d0;
  --color-mono-white: #ffffff;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
